*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./nasa-1lfI7wkGWZ4-unsplash.jpg);
    background-color: #323232;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #cfff00;
    font-size: 50px;
    margin-bottom: 10px;
}
input {
    border: 3px solid #d0ff00af;
    width: 160px;
    height: 50px;
    padding: 15px;
    margin-right: 31px;
    background-color: rgba(240, 248, 255, 0.842);
    border-radius: 2px;
}
.iconify {
    position: relative;
    z-index: 2;
    left: 150px;
    bottom: 2px;
}
#valor_reais {
    color: OrangeRed;
    box-sizing: border-box;
    margin-top: 10px;
    text-shadow: 2px -2px black;
    
}
p {
    font-weight: bold;
    font-size: 25px;
}
button {
    height: 40px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid #d0ff00af;
    border-radius: 10px;
    background-color: #323232;
    color: white;
    margin-top: 10PX;
}

button:hover {
    color: #323232;
    background-color: #cfff00;
}